h2 {
  @media (min-width: 768px) {
    font-size: 30px;
  }
}
p {
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.section {
  max-width: 1120px;
  @media (min-width: 768px) {
    margin: 50px auto;
  }
}

.image__wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0;
}

img {
  width: 80%;
}

.button__wrap {
  background-color: #4050c6;
  border: 2px solid #fff;
  transition: all 0.5s;
  cursor: pointer;

  padding: 10px;
  width: 50%;
  margin: 10px auto;
  text-align: center;
  max-width: 200px;
  &:hover {
    background-color: #fff;
    border: 2px solid #4050c6;
    .button-link {
      color: #4050c6;
    }
  }
}

.button-link {
  color: #fff;
  text-decoration: none;
}

.title {
  font-size: 20px;
  width: 80%;
  margin: 15px auto;
  text-align: center;
}

.description {
  width: 80%;
  margin: 0 auto 20px;
  text-align: center;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

.fade-in-up {
  animation: fade-in-up 1.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translatex(-100%);
  }
  100% {
    opacity: 100;
    transform: translate0(0px);
  }
}

.fade-in-down {
  animation: fade-in-down 1.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.image__wrap.scrolled {
  animation: fade-in-up 1.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.customer__wrap.scrolled {
  animation: fade-in-up 1.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.resource-card.scrolled {
  animation: fade-in-left 1.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
